/* heaeder  */

@media (max-width: 992px){
    .header__top p,
    .header__top i{
        font-size: 13px;
    }
    nav > a img{
        width: 150px;
    }
    nav ul li{
        padding: 0 10px !important;
    }
    nav ul li a{
        font-size: 13px;
    }
}

/* time  */

@media (max-width: 1024px) and (min-width: 768px){
    #time ul li{
        padding: 20px;
    }
    #time ul li a{
        font-size: 17px;
    }
}
@media (min-width: 425px) and (max-width: 767px){
    #time ul li{
        padding: 10px;
    }
    #time ul li a{
        font-size: 15px;
    }
   .time__item button{
       width: 50px;
   }
}
@media (max-width: 424px){
    #time ul li{
        padding: 7px;
    }
    #time ul li a{
        font-size: 13px;
    }
    .time__item .time__item__the__loai{
        font-size: 14px;
    }
    .time__item h1{
        font-size: 22px;
    }
    .time__item .time__item__mo__ta{
        font-size: 14px;
    }
    .time__item a{
        font-size: 11px;
    }
    .time__item .time__item__view{
        display: block;
        margin-bottom: 5px;
        font-size: 11px;
    }
    .time__item button{
        margin-bottom: 10px;
        font-size: 11px;
    }
}
@media (max-width: 320px){
    
}